* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #000000;

}

header {
    background: #026873;
    height: 80px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}

h1 {
    padding-bottom: 40px;
    padding-top: 80px;
}

input {
    height: 40px;
    width: auto;
    border-radius: 10px;
    padding: 10px;

}

#Cadastro {
    cursor: pointer;
    margin-top: 20px;
    width: 140px;
    height: 35px;
}

#campos {
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    /* Centraliza horizontalmente o container #campos */
}

#senha-container {
    position: relative;
    display: flex;
    align-items: center;
}

#eyeButton {
    width: 20px;
    height: 18px;
    position: absolute;
    top: 40%;
    right: 30px;
    background-image: url(./img/eye-solid-3.jpg);
    background-size: cover;
    border: none;
    cursor: pointer;
}

#senha {
    width: calc(100% - 30px);
    height: 30px;
    padding: 8px;
}